.clockContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 1rem;
  text-decoration: solid;
  justify-content: center;
}
.hour{
font-size: 4rem;
border-right: solid rgb(199, 199, 199);
padding-right: 15%;
line-height: 8rem;
}
.date{
font-size: 1rem;
padding-left: 14%;
}
.day{
line-height: 2rem;
padding-top: 2.1rem;
text-align: center;
}