.clockContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 1rem;
  text-decoration: solid;
  justify-content: center;
  overflow: auto;
}
.dark .clockContainer{
  color:rgb(185, 179, 179);
}
.hour{
font-size: 4rem;
border-right: solid rgb(199, 199, 199);
padding-right: 10%;
line-height: 8rem;
}
.date{
display: flex;
flex-direction: column;
font-size: 1rem;
padding-left: 10%;
}
.day{
line-height: 2rem;
padding-top: 2.1rem;
text-align: center;
}

.dark .hour{
border-right: solid rgb(73, 72, 72);
color: rgb(185, 179, 179);
}