body {
  margin: 0;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'sora', sans-serif;
  }
  
  .dataScreen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    display: flex;
    flex: 9;
}

@media screen and (max-width: 600px) {
}

.listData {
  flex: 2.5;
  min-width: 30rem;
  height: -moz-available; /* For Firefox */
  height: -webkit-fill-available; /* For Safari and Chrome */
  height: 100%; /* Fallback for other browsers */
  display: flex;
  flex-direction: column;
}

.mainData {
  flex: 1;
  min-width: 17rem;
  height: -moz-available; /* For Firefox */
  height: -webkit-fill-available; /* For Safari and Chrome */
  height: 100%; /* Fallback for other browsers */
  display: flex;
  flex-direction: column;
}


.defaultBg {
  background: #EEEEEE;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}

.dark .defaultBg {
  background: rgb(48, 48, 48);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
}
