<div id="weeklyTemp">

  <div class="block" id="block1">
    <p class="day" id="day0">Mon</p>
    <p class="day" id="time0">12:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img0">
    <div class="some">
      <p class="temp" id="temp0">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind0">27km/h
      <p class="rainPer" id="rain0">D9%</p>
    </div>

  </div>

  <div class="block" id="block2">
    <p class="day" id="day1">Mon</p>
    <p class="day" id="time1">21:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img1">
    <div class="some">
      <p class="temp" id="temp1">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind1">27km/h
      <p class="rainPer" id="rain1">D9%</p>
    </div>
  </div>

  <div class="block" id="block3">
    <p class="day" id="day2">Tue</p>
    <p class="day" id="time2">12:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img2">
    <div class="some">
      <p class="temp" id="temp2">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind2">27km/h
      <p class="rainPer" id="rain2">D9%</p>
    </div>
  </div>

  <div class="block" id="block4">
    <p class="day" id="day3">Tue</p>
    <p class="day" id="time3">21:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img3">
    <div class="some">
      <p class="temp" id="temp3">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind3">27km/h
      <p class="rainPer" id="rain3">D9%</p>
    </div>
  </div>

  <div class="block" id="block5">
    <p class="day" id="day4">Wed</p>
    <p class="day" id="time4">12:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img4">
    <div class="some">
      <p class="temp" id="temp4">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind4">27km/h
      <p class="rainPer" id="rain4">D9%</p>
    </div>
  </div>

  <div class="block" id="block6">
    <p class="day" id="day5">Wed</p>
    <p class="day" id="time5">21:00</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img" id="img5">
    <div class="some">
      <p class="temp" id="temp5">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="wind5">27km/h
      <p class="rainPer" id="rain5">D9%</p>
    </div>
  </div>
  
</div>