<div id="weeklyTemp">

  <div class="block" id="block1">
    <p class="day">Mon</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
  </div>

  <div class="block" id="block2">
    <p class="day">Tue</p>
  </div>

  <div class="block" id="block3">
    <p class="day">Wed</p>
  </div>

  <div class="block" id="block4">
    <p class="day">Thu</p>
  </div>

  <div class="block" id="block5">
    <p class="day">Fri</p>
  </div>

  <div class="block" id="block6">
    <p class="day">Sat</p>
  </div>
  
</div>