<div id="weeklyTemp">

  <div class="block" id="block1">
    <p class="wtDay" id="d_day0">Mon</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img0">
    <div class="some">
      <p class="temp" id="d_temp0">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind0">27km/h
      <p class="rainPer" id="d_rain0">D9%</p>
    </div>

  </div>

  <div class="block" id="block2">
    <p class="wtDay" id="d_day1">Mon</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img1">
    <div class="some">
      <p class="temp" id="d_temp1">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind1">27km/h
      <p class="rainPer" id="d_rain1">D9%</p>
    </div>
  </div>

  <div class="block" id="block3">
    <p class="wtDay" id="d_day2">Tue</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img2">
    <div class="some">
      <p class="temp" id="d_temp2">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind2">27km/h
      <p class="rainPer" id="d_rain2">D9%</p>
    </div>
  </div>

  <div class="block" id="block4">
    <p class="wtDay" id="d_day3">Tue</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img3">
    <div class="some">
      <p class="temp" id="d_temp3">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind3">27km/h
      <p class="rainPer" id="d_rain3">D9%</p>
    </div>
  </div>

  <div class="block" id="block5">
    <p class="wtDay" id="d_day4">Wed</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img4">
    <div class="some">
      <p class="temp" id="d_temp4">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind4">27km/h
      <p class="rainPer" id="d_rain4">D9%</p>
    </div>
  </div>

  <div class="block" id="block6">
    <p class="wtDay" id="d_day5">Wed</p>
    <img src="images/cloudly_day.svg" alt="ta aqui" class="img" id="d_img5">
    <div class="some">
      <p class="temp" id="d_temp5">+24</p>
    </div>
    <div class="some">
      <img class="wind" src="images/wind.svg" alt="">
      <img class="rainChance" src="images/umidity.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel" id="d_wind5">27km/h
      <p class="rainPer" id="d_rain5">D9%</p>
    </div>
  </div>
  
</div>