<div id="weeklyTemp">

  <div class="block" id="block1">
    <p class="day" id="city1" >Xique-xique</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
    </p>
  </div>

  <div class="block" id="block2">
    <p class="day" id="city2">Prédio 15</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
  </div>

  <div class="block" id="block3">
    <p class="day" id="city3">PUCRS</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
  </div>

  <div class="block" id="block4">
    <p class="day" id="city4">Russia</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
  </div>

  <div class="block" id="block5">
    <p class="day" id="city5">Parque Redenção</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
  </div>

  <div class="block" id="block6">
    <p class="day" id="city6">Saturno</p>
    <img src="../../images/cloudly_day.svg" alt="ta aqui" class="img">
    <div class="some">
      <p class="temp">+24</p>
      <p class="temp">+16</p>
    </div>
    <div class="some">
      <img class="wind" src="../../images/wind.svg" alt="">
      <img class="rainChance" src="../../images/rainChance.svg" alt="">
    </div>
    <div class="some">
      <p class="windVel">27km/h
      <p class="rainPer">D9%</p>
    </div>
  </div>
  
</div>