.dailyTemp {
  background: lightgray;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  border-radius: 2rem;
}

.dailyTemp p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.upperDiv {
  background: linear-gradient(180deg, #1469B7 23%, #003F9D 73%);
  display: flex;
  flex-direction: column;
  flex: 2;
  border-radius: 2rem;
  z-index: 2;
}

.city {
  /* background: #ff0000; */
  display: flex;
  flex: 2;
  border-radius: 2rem 2rem 0 0;
  color: #ffffff;
  align-items: end;
  justify-content: center;
  font-size: 2rem;
}

.aboveLine {
  /* background: #008000; */
  display: flex;
  flex: 5;
}

.aboveLine .left {
  /* background: rgb(64, 212, 64); */
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
}

.aboveLine .right {
  /* background: rgb(3, 98, 3); */
  display: flex;
  flex: 1;
}

.right .temp {
  display: flex;
  flex: 10;
  align-items: center;
  font-size: 8rem;
}

.right .degrees {
  display: flex;
  flex: 1;
  padding-bottom: 7rem;
}

.right .termometro {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 4;
}

.description {
  /* background: #ee82ee; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.bellowLine {
  display: flex;
  flex: 4;
  border-radius: 0 0 2rem 2rem;
  border-top: 0.1rem solid #ffffff;
  border-image: linear-gradient(to right, transparent calc(5% - 1px), rgba(211, 211, 211, 0.3) calc(5% - 1px), rgba(211, 211, 211, 0.3) calc(95% + 1px), transparent calc(95% + 1px)) 1;
  border-image-slice: 1;
}

.bellowLine .um {
  /* background: rgb(166, 166, 255); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 0 0 0 2rem;
}

.bellowLine .dois {
  /* background-color: rgb(90, 90, 254); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  display: flex;
}

.bellowLine .tres {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  border-radius: 0 0 2rem 0;
}

.lowerDiv {
  display: flex;
  flex: 1;
  border-radius: 2rem;
  margin-top: -6rem;
  z-index: 1;
}

.lowerDiv .left {
  /* background-color: rgb(44, 44, 44); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  flex: 1;
  border-radius: 0 0 0 2rem;
}

.lowerDiv .right {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  flex: 1;
  border-radius: 0 0 2rem 0;
}