<div class="dailyTemp">
  <div class="upperDiv defaultBg">
    <div class="city">
      <img src="../../images/cityPin.svg" alt="Localização">
      <p>Porto Alegre</p>
    </div>
    <div class="aboveLine">
      <div class="left">
        <img src="../../images/storm.svg" alt="Thunderstorm icon">
      </div>
      <div class="right">
        <div class="temp">
          <p>26</p>
        </div>
        <div class="degrees">
          <img src="../../images/BOLINHA.svg" alt="Graus">
        </div>
        <div class="termometro">
          <img src="../../images/Temperature_Hot.svg" alt="Termometro analogico marcando temperatura quente">
        </div>
      </div>
    </div>
    <div class="description">
      <p>Thunderstorm</p>
    </div>
    <div class="bellowLine">
      <div class="um">
        <img src="../../images/windSpeed.svg" alt="Velocidade do vento">
        <p>txt</p>
      </div>
      <div class="dois">
        <img src="../../images/umidity.svg" alt="Umidade relativa do ar">
        <p>txt</p>
      </div>
      <div class="tres">
        <img src="../../images/rainChance.svg" alt="Chance de chuva">
        <p>txt</p>
      </div>
    </div>
  </div>
  <div class="lowerDiv defaultBg">
    <div class="left">
      <img src="../../images/sunrise.svg" alt="Nacer do Sol">
      <p>time</p>
    </div>
    <div class="right">
      <img src="../../images/sunset.svg" alt="Pôr do sol">
      <p>time</p>
    </div>
  </div>
</div>