<div class="dailyTemp">
  <div class="upperDiv defaultBg">
    <div class="city">
      <div class="cityPin">
        <img src="../../images/cityPin.svg" alt="Localização">
      </div>
      <div class="cityName">
        <p>Porto Alegre</p>
      </div>
    </div>
    <div class="aboveLine">
      <div class="nuvem">
        <img src="../../images/storm.svg" alt="Thunderstorm icon">
      </div>
      <div class="temp">
        <p>26</p>
      </div>
      <div class="degrees">
        <p>º</p>
      </div>
      <div class="termometro">
        <img src="../../images/Temperature_Hot.svg" alt="Termometro analogico marcando temperatura quente">
      </div>
    </div>
    <div class="description">
      <p>Thunderstorm</p>
    </div>
    <div class="bellowLine">
      <div class="um">
        <div>
          <img src="../../images/windSpeed.svg" alt="Velocidade do vento">
        </div>
        <div>
          <p>32km/h</p>
        </div>
      </div>
      <div class="dois">
        <div>
          <img src="../../images/umidity.svg" alt="Umidade relativa do ar">
        </div>
        <div>
          <p>86%</p>
        </div>
      </div>
      <div class="tres">
        <div>
          <img src="../../images/rainChance.svg" alt="Chance de chuva">
        </div>
        <div>
          <p>100%</p>
        </div>
      </div>
    </div>
  </div>
  <div class="lowerDiv defaultBg">
    <div class="left">
      <div>
        <img src="../../images/sunrise.svg" alt="Nacer do Sol">
      </div>
      <div>
        <p>18:55</p>
      </div>
    </div>
    <div class="right">
      <div>
        <img src="../../images/sunset.svg" alt="Pôr do sol">
      </div>
      <div>
        <p>5:55</p>
      </div>
    </div>
  </div>
</div>