<div class="dailyTemp">
  <div class="upperDiv defaultBg">
    <div class="city">
      <h1>Porto Alegre</h1>
    </div>
    <div class="aboveLine">
      <div class="left">
        <img src="../../images/storm.svg" alt="Thunderstorm icon">
      </div>
      <div class="right">
        <h1>26</h1>
      </div>
    </div>
    <div class="description">
      <h1>Thunderstorm</h1>
    </div>
    <div class="bellowLine">
      <div class="um">
        <p>img</p>
        <p>txt</p>
      </div>
      <div class="dois">
        <p>img</p>
        <p>txt</p>
      </div>
      <div class="tres">
        <p>img</p>
        <p>txt</p>
      </div>
    </div>
  </div>
  <div class="lowerDiv defaultBg">
    <div class="left">
      <p>img</p>
      <p>time</p>
    </div>
    <div class="right">
      <p>img</p>
      <p>time</p>
    </div>
  </div>
</div>